In [7]:
import pandas as pd

In [8]:
product_name_translation = "../American_Stone_Project/Brazilian-ecommerce/product_category_name_translation.csv"

In [9]:
product_name_translation_df = pd.read_csv(product_name_translation, encoding="ISO-8859-1")

In [10]:
product_name_translation_df.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [12]:
cleaned_df = product_name_translation_df.rename(columns={"product_category_name": "Category Name",
                                                        "product_category_name_english": "Category Name English", })
cleaned_df.head()

            Category Name  Category Name English
0            beleza_saude          health_beauty
1  informatica_acessorios  computers_accessories
2              automotivo                   auto
3         cama_mesa_banho         bed_bath_table
4        moveis_decoracao        furniture_decor